*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    background-color: #000122;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loading div{
    position: absolute;
}

.glass{
    width: 200px;
    height: 200px;
    background-color: #ffffff13;
    border-radius: 100%;
    z-index: 3;
    backdrop-filter: blur(10px);
}

.box-3{
    width: 80px;
    height: 80px;
    background-color: tomato;
    border-radius: 5px;
    transform: translateX(-250px);
    animation: rotation 3s ease-in-out infinite;
    /* animation-name: rotation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
    animation-direction: alternate; */
} 

@keyframes rotation {
    0%{
        transform: translate(-250px)rotate(0deg);
        z-index: 1;
    }

    50%{
        transform: translate(250px)rotate(180deg);
    }

    100%{
        transform: translate(-250px)rotate(360deg);
        z-index: 6;
    }
    
}